*,
*::after,
*::before {
	box-sizing: border-box;
}

/* Общий контейнер */
.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;

	text-align: center;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-size: 14px;
	color: var(--primary-text-color);
	letter-spacing: 0.03em;
}
/* <!--Верхняя линия💪--> */
.section-header {
	margin-left: auto;
	margin-right: auto;
	width: 1600px;
}
.page-header {
	padding-top: 24px;
	padding-bottom: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #eeeeee;
}
.page-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px;
}
.logo {
	margin-right: 93px;
	color: var(--primary-text-color);
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
	text-align: start;
}
.logo-part-one {
	color: var(--accent-color);

	font-weight: bold;
	line-height: 31px;
}
.studio-list {
	letter-spacing: 0.02em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px;
}

.studio-list-item .link {
	text-decoration: none;
	margin-right: 50px;
	color: var(--primary-text-color);
}
.page-studio .link {
	color: var(--primary-text-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px;
}
.page-studio .link:hover {
	color: var(--accent-color);
}
.page-studio .link:focus {
	color: var(--accent-color);
}

/* контакты */
.studio-contacts-list {
	letter-spacing: 0.02em;
	display: flex;
	justify-content: space-between;
	margin: 0px;
}
.studio-contacts-list .link {
	color: var(--title-text-color);

	font-weight: 500;
	line-height: 1.14;
	text-decoration: none;
}
.studio-list-item:not(:last-child),
.studio-contacts-item:not(:last-child) {
	margin-right: 50px;
}
.studio-contacts-list .link:hover {
	color: var(--accent-color);
}
/* Фильтр-кнопки */
/* Заголовок Портфолио скрываем белым цветом */
.section-portfolio h1 {
	color: #ffffff;
}
.section-portfolio h1 {
	margin: 0;
	box-sizing: border-box;
	text-align: center;
	font-family: Roboto, sans-serif;
	font-style: normal;
	letter-spacing: 0.03em;
}
.section-portfolio {
	padding-top: 70px;
	padding-bottom: 94px;
}
.portfolio-filter {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	margin-bottom: 34px;
	padding-bottom: 16px;
	text-align: center;
}
.filter-button {
	background-color: #f5f4fa;
	margin-right: 8px;
	padding: 6px 22px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;
	border: none;
	font-family: inherit;
	border-radius: 4px;
	border: none;
	-webkit-appearance: button;
	text-transform: none;
}

.filter-button:hover {
	color: #ffffff;
	background-color: var(--accent-color);
}
.filter-button:focus {
	color: #ffffff;
	background-color: var(--accent-color);
}
/* Проект */
.portfolio-item {
	flex-wrap: wrap;
	margin: 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.portfolio-card {
	width: 370px;
	color: var(--title-text-color);
}
.portfolio-card-caption {
	padding: 20px 24px;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	text-align: left;
	margin: 0px;
}

.portfolio-card:not(:nth-last-child(-n + 3)) {
	margin-bottom: 30px;
}
.portfolio-card:not(:nth-child(3n)) {
	margin-right: 30px;
}
.portfolio-title {
	margin-bottom: 4px;
	color: var(--primary-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.filter-item {
	color: var(--text-main);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.87;
	margin: 0px;
	box-sizing: border-box;
	text-align: left;
	list-style: none;
	font-family: Roboto, sans-serif;
	font-style: normal;
	letter-spacing: 0.03em;
}
/* Нижний логотип */
.footer .logo-part-two {
	color: #2196f3;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	text-decoration: none;
}
.logo-two {
	color: #ffffff;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	text-decoration: none;
}
/* Подвал страницы 😃 📱 ✉️ */
.section-footer .logo {
	display: block;
	margin-bottom: 20px;
}
.section-footer {
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: start;
	background-color: #2f303a;
	width: 1600px;
	margin-left: auto;
	margin-right: auto;
}
.logo-part-one {
	color: var(--accent-color);
}
.logo-part-two {
	color: #ffffff;
}
/* Адрес */
.adress-mail {
	font-style: normal;
	margin-bottom: 9px;
	margin-top: 0px;
	color: #ffffff;
	font-weight: 400;
	line-height: 1.71;
	text-align: start;
}
.adress-email,
.adress-tel {
	display: block;

	color: rgba(255, 255, 255, 0.6);
	font-style: normal;
	font-weight: 400;
	line-height: 1.71;
	text-align: start;
	text-decoration: none;
}
.adress-email {
	margin-bottom: 9px;
}
