/* *,
*::after,
*::before {
	box-sizing: border-box;
} */
/* box-sizing: inherit; */

/* <!--Верхняя линия💪--> */
.section-header {
	margin-left: auto;
	margin-right: auto;
	width: 1600px;
}
.page-header {
	padding-top: 24px;
	padding-bottom: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.page-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px;
}
.logo {
	margin-right: 93px;
	color: var(--primary-text-color);
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
	text-align: start;
}
.logo-part-one {
	color: var(--accent-color);

	font-weight: bold;
	line-height: 31px;
}
.studio-list {
	letter-spacing: 0.02em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px;
}

.studio-list-item .link {
	text-decoration: none;
	margin-right: 50px;
	color: var(--primary-text-color);
}
.page-studio .link {
	color: var(--primary-text-color);

	align-items: center;
	justify-content: space-between;
	margin: 0px;
	/* display: flex; */
}
.post {
	background-image: url(../image-icons/post.svg);
	background-repeat: no-repeat;
	padding-left: 25px;
	background-position-y: 2px;
}
.smartphone {
	background-image: url(../image-icons/smartphone.svg);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position-y: 0px;
}
.page-studio .link:hover {
	color: var(--accent-color);
}
.page-studio .link:focus {
	color: var(--accent-color);
}

/* контакты */
.studio-contacts-list {
	letter-spacing: 0.02em;
	display: flex;
	justify-content: space-between;
	margin: 0px;
}
.studio-contacts-list .link {
	color: var(--title-text-color);

	font-weight: 500;
	line-height: 1.14;
	text-decoration: none;
}
.studio-list-item:not(:last-child),
.studio-contacts-item:not(:last-child) {
	margin-right: 50px;
}
.studio-contacts-list .link:hover {
	color: var(--accent-color);
}
/* Шапка */
.section-primary {
	margin-left: auto;
	margin-right: auto;
	padding: 200px 452px;
	text-align: center;
	width: 1600px;
	background-color: var(--primary-text-color);
	background-position: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header.jpg);
}
.primary-title {
	margin-bottom: 30;
	margin-top: 0;

	font-family: Roboto, sans-serif;
	font-style: normal;
	color: #ffffff;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;

	text-transform: uppercase;
}
/* Кнопка */
.primary-button {
	margin-top: 30;
	color: #ffffff;
	padding: 10px 32px;
	background-color: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: transparent;
	width: 200px;
	height: 50px;
	text-align: center;
	letter-spacing: 0.06em;
	font-style: normal;
	font-size: 16px;
	font-weight: 600;
}

/* Особенности */
.section-features .section-title {
	margin: 0;
	color: #ffffff;
}
.section-features {
	padding-top: 53px;
	padding-bottom: 94px;
	margin-left: auto;
	margin-right: auto;
}
.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;

	text-align: center;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-size: 14px;
	color: var(--primary-text-color);
	letter-spacing: 0.03em;
}
.features-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px;
	list-style: none;
	box-sizing: border-box;
	color: var(--title-text-color);
}
.features-card {
	width: 270px;
	line-height: 1.71;
	color: var(--title-text-color);
}
.features-card::before {
	display: block;
	content: "";
	margin-bottom: 30px;
	height: 120px;

	background-repeat: no-repeat;
	background-position: center;
	background-color: #f5f4fa;
	border-radius: 4px;
}
.icon-delivety::before {
	background-image: url(../image-icons/antena.svg);
}
.icon-mobile::before {
	background-image: url(../image-icons/clock.svg);
}
.icon-computer::before {
	background-image: url(../image-icons/computer.svg);
}
.icon-cosmonaut::before {
	background-image: url(../image-icons/cosmonaut.svg);
}
.features-item {
	padding-bottom: 10px;

	color: var(--primary-text-color);
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	margin: 0px;
	box-sizing: border-box;
	text-align: start;
	list-style: none;
	font-family: Roboto, sans-serif;
	font-style: normal;
	letter-spacing: 0.03em;
}
.features-text {
	margin: 0px;
	box-sizing: border-box;
	text-align: start;
	color: var(--title-text-color);
}
/* Чем мы занимаемся */
.section-activity {
	padding-bottom: 94px;
	margin-left: auto;
	margin-right: auto;
}
.section-activity .section-title {
	margin-bottom: 50px;
}
.section-title {
	margin: 0;
	margin-bottom: 50px;
	font-size: 36px;
	line-height: 1.16;
	font-weight: bold;
}
.activity-card {
	width: 370px;
	height: 294px;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.activity-list {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	margin: 0px;
	color: var(--title-text-color);
}

/* Наша команда */
.section-team {
	background: #f5f4fa;
	width: 1600px;
	padding-top: 94px;
	padding-bottom: 94px;
	margin-left: auto;
	margin-right: auto;
}

.team-list {
	display: flex;
	justify-content: space-between;
	margin: 0px;
	color: var(--title-text-color);
}
/* .team-card {
	width: 270px;
	height: 422px;
	background-color: #ffffff;
	border-radius: 0px 0px 4px 4px;
	color: var(--title-text-color);
} */
.team-card {
	flex-direction: column;
	align-items: center;
	width: calc((100% - 30px * 3) / 4);
	background-color: #ffffff;
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-card-caption {
	padding-top: 30px;
	padding-bottom: 30px;
	color: var(--title-text-color);
}
.team-card-title > .title {
	margin-bottom: 10px;
	color: var(--primary-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
}
/* .team-caption {
	margin-bottom: 10px;
	color: var(--primary-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
} */
.nomargin,
.title {
	margin: 0px;
	margin-bottom: 10px;
	color: var(--primary-text-color);
}
.list {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.team-card:not(:nth-child(4n)) {
	margin-right: 30px;
}

/* .social-networks {
	display: flex;
	justify-content: space-between;
	margin-right: 32px;
	margin-left: 32px;
}
.instagram:hover {
	background-color: var(--accent-color);
}
.instagram:focus {
	color: var(--accent-color);
}
.twitter:hover {
	background-color: var(--accent-color);
}
.facebook:hover {
	background-color: var(--accent-color);
}
.linkedin:hover {
	background-color: var(--accent-color);
}

.instagram {
	display: inline-block;
	height: 44px;
	width: 44px;
	background-image: url(../image-icons/instagram.svg);
	background-repeat: no-repeat;
	background-position: center;
	color: var(--title-text-color);
	background-color: #ffffff;
	border-radius: 50px;
	background-size: 20px;
}
.twitter {
	display: inline-block;
	height: 44px;
	width: 44px;
	background-image: url(../image-icons/twitter.svg);
	background-repeat: no-repeat;
	background-position: center;
	color: var(--title-text-color);
	background-color: #ffffff;
	border-radius: 50px;
	background-size: 20px;
}
.facebook {
	display: inline-block;
	height: 44px;
	width: 44px;
	background-image: url(../image-icons/facebook.svg);
	background-repeat: no-repeat;
	background-position: center;
	color: var(--title-text-color);
	background-color: #ffffff;
	border-radius: 50px;
	background-size: 10px 20px;
}
.linkedin {
	display: inline-block;
	height: 44px;
	width: 44px;
	background-image: url(../image-icons/linkedin.svg);
	background-repeat: no-repeat;
	background-position: center;
	color: var(--title-text-color);
	background-color: #ffffff;
	border-radius: 50px;
	background-size: 20px;
} */

/* Поcтоянные клиенты */
.section-clients {
	background: #ffffff;
	width: 1600px;
	padding-top: 94px;
	margin-bottom: 94px;
	margin-left: auto;
	margin-right: auto;
}
.section-box {
	display: flex;
	margin-top: 0px;
	margin-bottom: 0px;
}
.box::before {
	height: 90px;
	width: 170px;
	margin: 0px;
	margin-right: 30px;
	border-radius: 4px;
	justify-content: space-between;
	border: 1px solid #afb1b8;
	display: block;
	content: "";

	background-repeat: no-repeat;
	background-position: center;
	background-color: #2196f3 border 4px;
}

.box:nth-child(1) .box:nth-child(2) .box:nth-child(3) .box:nth-child(4) .box:nth-child(5) .box:nth-child(6) {
	background-color: #ffffff;
	margin-top: 0px;
	margin-bottom: 0px;
}

.logo1::before {
	background-image: url(../image-icons/logo1.svg);
}
.logo2::before {
	background-image: url(../image-icons/logo2.svg);
}
.logo3::before {
	background-image: url(../image-icons/logo3.svg);
}
.logo4::before {
	background-image: url(../image-icons/logo4.svg);
}
.logo5::before {
	background-image: url(../image-icons/logo5.svg);
}
.logo6::before {
	background-image: url(../image-icons/logo6.svg);
}
/* Подвал страницы 😃 📱 ✉️ */
.section-footer .logo {
	display: block;
	margin-bottom: 20px;
}
.footer-contacts {
	margin-right: 70px;
	min-width: 231px;
	text-align: start;
}
.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: start;
	background-color: #2f303a;
	width: 1600px;
	margin-left: auto;
	margin-right: auto;
}
.flexbox {
	display: flex;
}
.wrap {
	flex-wrap: wrap;
}

.footer > .flexbox {
	align-items: baseline;
}
.logo-part-one {
	color: var(--accent-color);
}
.logo-part-two {
	color: #ffffff;
}
/* Адрес */
.adress-mail {
	font-style: normal;
	margin-bottom: 9px;
	margin-top: 0px;
	color: #ffffff;
	font-weight: 400;
	line-height: 1.71;
	text-align: start;
}
.adress-email,
.adress-tel {
	display: block;

	color: rgba(255, 255, 255, 0.6);
	font-style: normal;
	font-weight: 400;
	line-height: 1.71;
	text-align: start;
	text-decoration: none;
}
.adress-email {
	margin-bottom: 9px;
}

.footer-social > .text {
	margin-bottom: 20px;
	text-align: start;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.14;
}
.social-item:not(:nth-child(4)) {
	margin-right: 10px;
}
.social-link:hover {
	background-color: var(--accent-color);
}

.icon {
	width: 20px;
	height: 20px;

	fill: #ffffff;
}

.social-link {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
}
.social-link {
	--color1: #afb1b8;
	background-color: #000000;
}
.team .social-link {
	background-color: rgba(255, 255, 255, 0.1);
	--color1: #afb1b8;
}
.team .social-link:hover {
	background-color: rgba(255, 255, 255, 0.1);
	--color1: #ffffff;
}
.footer .social-link {
	background-color: rgba(255, 255, 255, 0.1);
	--color1: #ffffff;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
}
.footer .social-link:hover {
	background-color: var(--accent-color);
}

.social-icon {
	width: 20px;
	height: 20px;
	color: var(--color1);
	--color1: #afb1b8;
}

/* .icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
} */
